@import "tailwindcss";

@keyframes goldFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-goldFlow {
  background-size: 200% 200%;
  animation: goldFlow 6s ease-in-out infinite;
}
